// SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors

// SPDX-License-Identifier: AGPL-3.0-or-later

#cryptpad-editor {
	width: 100%;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
}

#editor-content {
	width: 100%;
	height: 100%;
}

#unsaved-indicator {
	display: none;
	position: absolute;
	top: 3px;
	left: 50%;
	transform: translate(-50%, 0);

	color: black;
	background: white;
	padding: 3px;
	border-radius: 3px;
}

#unsaved-indicator.visible {
	display: block;
}

#error-indicator {
	display: none;
	position: absolute;
	top: 3px;
	left: 50%;
	transform: translate(-50%, 0);

	color: black;
	background: white;
	padding: 3px;
	border-radius: 3px;
}

#error-indicator.visible {
	display: block;
}

#back-button {
	position: absolute;
	top: 7px;
	right: 7px;

	color: black;
	background: white;
	padding: 1px;
	border-radius: 16px;
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 20px;
	box-shadow: black 0px 0px 3px;
}
